aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.6.2.post1
click==8.1.7
colorama==0.4.6
fastapi==0.115.4
flake8==7.1.1
flake8-docstrings==1.7.0
greenlet==3.1.1
h11==0.14.0
idna==3.10
mccabe==0.7.0
mypy==1.13.0
mypy-extensions==1.0.0
psycopg2==2.9.9
pycodestyle==2.12.1
pydantic==2.10.1
pydantic_core==2.27.1
pydocstyle==6.3.0
pyflakes==3.2.0
sniffio==1.3.1
snowballstemmer==2.2.0
SQLAlchemy==2.0.26
starlette==0.41.3
typing_extensions==4.12.2
uvicorn==0.27.1
