.accounting_item_container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr .5fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.accounting_item_amount {
  white-space: nowrap;
}

.accounting_item_arrow {
  margin-top: 5px;
  font-size: 1.5em;
}
