@use '../../index' as *;

.hline-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.hline-text::before,
.hline-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $font-color;
}

.hline-text:not(:empty)::before {
  margin-right: .5em;
}

.hline-text:not(:empty)::after {
  margin-left: .5em;
}

.hline-small-text {
  font-size: .6em;
}