#error-icon {
  font-size: large;
  margin-top: min(40%, 200px);
  margin-bottom: min(10%, 50px);
}

#btn-error-goto-landingpage {
  margin-top: 50px;
}

#error-message-box {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;

  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 70%;
}