
#group-acconting-overview-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-copy-accounting-msg,
#btn-close-grp {
  margin-top: 20px;
}

#accounting-entries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  gap: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
}

#btn-copy-accounting-msg {
  margin-bottom: 50px;
}

#btn-close-grp {
  margin-bottom: 20px;
}