
#group_acconting_overview_inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn_copy_accounting_msg,
#btn_close_grp {
  margin-top: 20px;
  margin-bottom: 20px;
}