@use '../../index' as *;

#user-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#users-overview-user-name,
#users-overview-payments {
  width: 100%;
}


.users-overview-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

.users-overview-payment-description {
  margin-left: 10px;
  text-align: left;
}

.users-overview-payment-amount {
  margin-right: 10px;
  text-align: right;
}

