@use "../../../../index" as *;

#overview-button-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

#overview-button-container-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#overview-button-container-right {
  align-content: center;
}

#btn-goto-accounting,
#btn-goto-history {
  width: 100%;
}

#group-overview-user-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 50px;
  width: 70%;
  flex: 1;
}